.error
{
    width: 100%;
    height: 100vh;
}

.error .error_container
{
    width: 80%;
    margin: 0 auto;
}

.error .error_container .error_image
{
    width: 70%;
    margin: 6rem auto 0 auto;
}

.error .error_container .error_image img
{
    width: 100%;
}

@media screen and (max-width:600px) {
    .error .error_container
    {
        width: 90%;
    }

    .error .error_container .error_image
    {
        width: 90%;
        margin: 0 auto;
        padding-top: 8rem;
    }

}
